div.account-forms{
	display: flex;
}

form.account-form{
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding: 1em;
	width: 100%;
	height: 18em;
	position: relative;
}

form.account-form:last-of-type{
	margin-left: 1em;
	transition: background-color 1s;
}

h2.account-form-title{
	margin: 0 0 0.5em 0;
	color: #ffde00;
}

span.account-form-row{
	display: flex;
	margin: 0.5em 0 0 0;
}

label.account-form-label{
	margin: 0;
	width: 30%;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}

input.account-form-input{
	margin: 0;
	width: 70%;
}

p.account-form-warning{
	margin: 0.1em 0 1em 0;
	font-size: 14px;
	height: 14px;
	color: #FFFFFF;
	text-align: right;
}

a.account-form-button{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid black;
	display: block;
	margin: auto 0.5em 0.5em;
	padding: 0.2em 0;
	background-color: #72757d;
	text-align: center;
	transition: background-color 1s;
	color: #FFFFFF;
}

a.account-form-button:hover{
	background-color: #979aa5;
}

a.account-form-button:hover h2.account-form-title{
	color: #FFFFFF;
}

form.account-form:hover{
	background-color:rgba(198, 144, 14, 1);
}
		
