div.account-forms{
	display: flex;
}

form.account-form{
	margin: 0 auto 0 0;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding: 1em;
	width: 48%;
	height: 20em;
	position: relative;
	transition: background-color 1s;
}

div.account-forms:last-child{
	margin: 0 0 0 auto;
}

h2.account-form-title{
	margin: 0 0 0.5em 0;
	color: #ffde00;
}

span.account-form-row{
	display: flex;
	margin: 0.5em 0 0 0;
}

label.account-form-label{
	margin: 0;
	min-width: 30%;
	font-size: 20px;
	color: #FFFFFF;
}

input.account-form-input{
	padding: 0 0.5em;
	width: 70%;
	border: 1px solid black;
	font-size: 14px;
	outline: none;
}

p.account-form-warning{
	margin: 0.1em 0 1em 0;
	font-size: 12px;
	height: 14px;
	color: #FFFFFF;
	text-align: right;
}

span.account-form-showpassword{
	display: flex;
	margin: 0 auto;
	background-color: #72757d;
	width: 6em;
	border: 1px solid black;
	border-left: none;
}

label.account-form-showpassword{
	margin: auto 0.5em;
	font-size: 14px;
}

input.account-form-showpassword{
	margin: auto 0.5em auto 0;
}

a.account-form-button{
	position: absolute;
	bottom: 0.6em;
	right: 0.6em;
	border: 1px solid black;
	display: block;
	margin: auto 0 0 auto;
	width: 50%;
	padding: 0.2em 0;
	background-color: #72757d;
	text-align: center;
	transition: background-color 0.5s, width 0.5s;

}

a.account-form-button:hover{
	background-color: #FFFFFF;
	width: 60%;
}

a.account-form-button:hover h2.account-form-title{
	color: #FFFFFF;
}

form.account-form:hover{
	background-color: #c0840a;
}
		
