/** MAIN GUIDE PAGE 
********************************************************/

article.guide_article {
	height: 250px;
    border-top: 1px solid black;
	margin: 0 auto;
	position: relative;
}

article.guide_article:last-child{
	border-bottom: 1px solid black;
}

a.guide_button{
	width: 100%;
	height: 100%;
}

.guide_img_shell{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:transparent;
	transition: background-color 0.6s;
}

a.guide_button:hover .guide_img_shell{
	background-color: #c0840a;
}

.guide_img{
	background-size: cover;
	width: 100%;
	height: 100%;
	transition: transform 1s;
}

#guide_img_skills{
	background-image: url("../img/PNG/SkillsBanner.png");
}

#guide_img_combat{
	background-image: url("../img/PNG/CombatBanner.png");
}

a.guide_button:hover .guide_img{
	transform: scale(1.05);
}
	
aside.guide_aside{
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	right: 0;
	padding: 10px;
}

aside.guide_aside_left{
	left: 0;
	background-image: url("../img/PNG/CombatBanner.png");
}

h2.guide_title{
	height: 30px;
	margin: 0 0 10px auto;
	color: #ffde00;
}

a.guide_button:hover h2.guide_title{
	color: #ffffff;
}

p.guide_description{
	font-size: 18px;
	margin: 0 0 10px auto;
	height: 136px;
}

div.guide_breadcrumbs{
	display: flex;
	border: 2px solid black;
	border-bottom: none;
	background-color: #979aa5;
}

a.guide_breadcrumb{
	font-size: 18px;
	padding: 0.2em;
}

a.guide_breadcrumb:hover{
	color: #FFFFFF;
}

/** SKILL GUIDE PAGE 
********************************************************/

article.skillguide{
	border: 1px solid black;
	background-color:rgba(198, 144, 14, 1);
	padding: 0.5em;
}

header.guide_header{
	display: flex;
	margin-bottom: 1em;
}

h1.guide_header_title{
	margin: 0 0.2em 0 0;
}

h1.guide_header_title:hover{
	color:#FFFFFF;
}

p.skillguide_header_text{
	margin: 0 0 1em 0;
}

article.skillguide_category{
	border-bottom: 2px solid black;
	margin-bottom: 1em;
}

h2.skillguide_category_title{
	margin: 0 auto;
}

p.skillguide_category_description{
	margin: 0 0 0.5em 0;
}

table.skillguide_skills{
	margin: 0;
	width: 100%;
	border-spacing: 0;
}

tr.skillguide_skill{
	width: 100%;
	height: 70px;
	display: flex;
	border-bottom: 1px solid black;
	border-top: none;
}

tr.skillguide_skill:first-child {
	border-top: 1px solid black;
}

tr.skillguide_skill:hover {
	background-color:rgba(255, 255, 255, 1);
}

th.skillguide_skill_header{
	display: flex;
	width: 25%;
	padding: 0;
}

td.skillguide_skill_data{
	display: flex;
	width: 75%;
	padding: 0;
}
		
img.skillguide_skillicon{
	width: 50px;
	height: 50px;
	margin: auto 0 auto 10px;
}

h3.skillguide_skill_title{
	text-align: left;
	margin: auto 0 auto 20px;
}	

p.skillguide_skill_description{
	width: 100%;
	font-size: 18px;
	margin: auto 10px auto 10px;
}

a.skillguide_skill_button{
	text-align: center;
	font-size: 18px;
	width: 160px;
	padding: 10px 0;
	border: 2px solid black;
	margin: auto 10px auto 0;
	background-color: #72757d;
}

a.skillguide_skill_button:hover{
	color: #005BBB;
	background-color: #979aa5;
}

article.specificskill_main{
	border: 1px solid black;
	padding: 0.5em;
}

header.specificskill_header{
	display: flex;
	margin: 0 auto 10px auto;
	background-color: #72757d;
	border-bottom: 2px solid black;
}

img.specificskill_header_img{
	margin: auto 10px;
	width: 60px;
	height: 60px;
}

h2.specificskill_header_title{
	color: #FFFFFF;
}

button.specificskill_top{
	position:fixed;
	bottom: 70px;
	right: 70px;
	min-height: 45px;
	min-width: 45px;
}

div.specificskill_grid_div{
	border: 1px solid black;
	margin: 0 auto 0.5em auto;
}

header.specificskill_grid_header{
	display: flex;
	background-color: #72757d;
	border-bottom: 2px solid black;
}

h3.specificskill_grid_title{
	margin:  auto 10px;
	width: 100%;
	color: #FFFFFF;
	height: 22px;
	vertical-align: middle;
}

header.skillguide_section_header{
	display: flex;
	width: 100%;
}

button.specificskill_grid_dropdown{
	min-width: 45px;
	min-height: 45px;
}

div.specificskill_grid{
	display: grid;
	grid-template-areas:
    'specificskill_img specificskill_name specificskill_lvl specificskill_exp'
    'specificskill_img specificskill_desc specificskill_desc specificskill_desc';
}

div.specificskill_img{
	height: 70px;
	width: 70px;
	grid-area: specificskill_img;
}

img.specificskill_img{
	height: 90%;
	margin: auto;
}

div.specificskill_name{
	grid-area: specificskill_name;
}

div.specificskill_lvl{
	background-color: #00FF00;
	grid-area: specificskill_lvl;
}

div.specificskill_exp{
	grid-area: specificskill_exp;
}

div.specificskill_desc{
	background-color: #FF0000;
	grid-area: specificskill_desc;
}

p.specificskill_name, p.specificskill_lvl, p.specificskill_exp, p.specificskill_desc{
	font-size: 18px;
	margin: 0 auto;
}

/** COMBAT GUIDE PAGE
********************************************************/
article.combatguide{
	border: 2px solid black;
}

p.combatguide_header_text{
	font-size: 18px;
}

article.combatguide_article{
	border: 2px solid black;
	padding: 0 10px 10px 10px;
	margin: 10px 10px 0 10px;
}

h3.combatguide_article_title{
	margin: 0 auto;
}

p.combatguide_article_description{
	font-size: 18px;
}

/** WORLD GUIDE PAGE 
********************************************************/

article.worldguide{
	border: 2px solid black;
}

p.worldguide_header_text{
	font-size: 18px;
}

article.worldguide_article{
	border: 2px solid black;
	padding: 0 10px 10px 10px;
	margin: 10px 10px 0 10px;
}

h3.worldguide_article_title{
	margin: 0 auto;
}

p.worldguide_article_description{
	font-size: 18px;
}

/** QUEST GUIDE PAGE 
********************************************************/

article.questguide{
	border: 2px solid black;
}

p.questguide_header_text{
	font-size: 18px;
}

article.questguide_article{
	border: 2px solid black;
	padding: 0 10px 10px 10px;
	margin: 10px 10px 0 10px;
}

h3.questguide_article_title{
	margin: 0 auto;
}

p.questguide_article_description{
	font-size: 18px;
}