/** MAIN NEWS PAGE 
********************************************************/

article.news_article{
	margin: 0 auto;
	display: flex;
}

header.news_header{
	margin: 0.5em 0;
	border-bottom: 1px solid black;
}

h2.news_title{
	margin: 0;
	color: #ffde00;
}

div.news_img{
	margin: 0.5em;
	min-width: 160px;
	min-height: 100px;
	width: 25%;
	border: 1px solid black;
	overflow: hidden;
}

img.news_img{
	width: 100%;
	height: 100%;
	transition: transform 1s;
}

div.news_main{
	width: 100%;
	margin: 0 0.5em 0 0;
}

div.news_info{
	width: 100%;
}

p.news_brief{
	margin: 0 0 0.5em 0;
	height: 40px;
}

div.news_typedate{
	display:flex;
	margin: 0.2em 0;
}

p.news_type{
	text-align: left;
	margin: 0 auto 0 0;
	color: #ffde00;
}

p.news_date{
	text-align: right;
	margin: 0 0 0 auto;
	color: #ffde00;
}

a.news_button{
	transition: background-color 1s;
	background-color:transparent;
	display: block;
	border-top: 1px solid black;
}

a.news_button:hover{
	background-color:rgba(198, 144, 14, 1);
}

a.news_button:hover p.news_type, a.news_button:hover p.news_date, a.news_button:hover h2.news_title{
	color: #FFFFFF;
}

a.news_button:hover div.news_img{
	border: 1px solid #ffde00;
}

a.news_button:hover img.news_img{
	transform: scale(1.05);
}

a.news_allbutton{
	display: block;
	text-align: center;
	width: 30%;
	background-color: #72757d;
	border: 1px solid black;
	padding: 0.2em 0;
	margin: 0 0 0 auto;
}

a.news_allbutton:hover{
	background-color: #72757d;
}

/** NEWS ARCHIVE PAGE 
********************************************************/

a.newsarchive_button{
	transition: background-color 1s;
	display: block;
	border-top: 1px solid black;
}

article.newsarchive_article{
	margin: 0 auto;
	display: flex;
}

h2.newsarchive_title{
	margin: 0;
	color: #FFFFFF;
	font-size: 24px;
}

div.newsarchive_img{
	margin: 0.2em 0.5em;
	width: 10%;
	border: 1px solid black;
	overflow: hidden;
}

img.newsarchive_img{
	width: 100%;
	height: 100%;
	transition: transform 1s;
}

div.newsarchive_main{
	width: 100%;
	margin: 0.2em 0.5em 0.2em 0;
}

div.newsarchive_typedate{
	display:flex;
	margin: 0.2em 0;
}

p.newsarchive_type{
	text-align: left;
	margin: 0 auto 0 0;
	font-size: 14px;
}

p.newsarchive_date{
	text-align: right;
	margin: 0 0 0 auto;
	font-size: 14px;
}

a.newsarchive_button:hover{
	background-color:rgba(198, 144, 14, 1);
}
