.content_rewrite{
	color: #ff0000;
	color: black;
}

/**BASICS**************************************************************/
html {
	width: 100%;
	min-width: 400px;
	min-height: 100%;
	margin: auto;
}

Html{ box-sizing: border-box; } 
*, *:before, *:after{ box-sizing: inherit;}


body{
	max-width: 100%;
	height: 100%;
	margin: auto;
	background-color: #b05f00;
}

h1, h2, h3, h4, a, li {
	font-family: 'Acme', sans-serif;
}

h1{
	margin: 0.5em auto;
	font-size: 36px;
}

h2{
	margin: 0;
	font-size: 28px;
}

h3{
	margin: 0;
	font-size: 20px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	
}

a, li {
	text-decoration: none;
	font-size: 25px;
}

label{
	font-family: 'Montserrat', sans-serif;
}

input{
	font-family: 'Montserrat', sans-serif;
}

header.main-header{
	max-width: 100%;
	margin: 0;
}

main{
 	max-width: 100%;	
}

nav.navbar-outer{
	height: 50px;
	background-color: #4d4f55;
}

ul.navbar{
	display: flex;
	height: 100%;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

li.nav_button{
	display: flex;
	width: 20%;
	min-width: 140px;
	height: 100%;
	background-color: #72757d;
	transition: background-color 1s, padding-bottom 0.5s;
}

li.nav_button:hover{
	background-color: #FFFFFF;
	padding-bottom: 0.5em;
}

a.nav_button{
	width: 100%;
	height: 60%;
	text-align: center;
	margin: auto;
	background-color: transparent;
}

ul.navbar-mobile{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	border: 2px solid green;
}

a.navbar-mobile-button{
	border: 1px solid blue;
	background-color: #72757d;
	height: 45px;
	width: 45px;
}

li.nav_button_mobile{
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #72757d;
	transition: background-color 1s, padding-bottom 0.5s;
}

li.nav_button_mobile:hover{
	background-color: #FFFFFF;
	padding-bottom: 0.5em;
}

a.nav_button_mobile{
	margin: 0 auto;
	width: 5em;
}

a.navbar-mobile-button, ul.navbar-mobile{
	display: none;
}
ul.navbar-mobile{
	position: absolute;
	width: 100%;
	z-index: 100;
}	

@media (max-width: 780px) {
	body { background-color: blue; }
	ul.navbar{ display: none; }
	a.navbar-mobile-button{ display: block; }
	div.account-forms { display: block;	}
	form.account-form{ width: 100%; }
}


@media (max-width: 480px) {
	body { background-color: lightblue; }
}

main{
	width: 90%;
	margin: auto auto 70px auto;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	height: 5%;
	min-height: 3em;
	width: 100%;
	min-width: 60em;
	background-color: #929292;
	margin: 0 0 0 0%;
	justify-content: flex-end;
}

p.footer_text, a.footer_text{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: auto 1em;
}

button.footer_button{
	width: 10em;
	border: none;
}

/**HIGHSCORES******************************************************/

div.HighScores{
	margin: 0 auto;
}

div.hs-title{
	height: 3em;
	width: 100%;
	margin: 0 auto;
}
h2.hs-title{
	margin: 0;
	width: 100%;
	color: #FFFFFF;
	border-bottom: 1px solid black;
}

div.HS-Main{
	display: flex;
}

aside.HS_categories{
	position: relative;
	width: 100%;
	height: 100%;
}

a.HS_category{
	display: flex;
	margin: 0 0 0 0.5em;
	overflow: hidden;
	border: 1px solid black;
	border-top: none;
	background-color: #929292;
	position: relative;
	transition: margin 0.5s, background-color 0.5s;
}

#HS_category-first{
	border-top: 1px solid black;
}

.HS_dropdown{
	width: 90%;
	margin: 0 0 0 auto;
}

img.HS_categoryIMG {
	margin: 0.2em;
	width: 40px;
	height: 40px;
}

img.HS_dropdownIMG{
	width: 20px;
	height: 20px;
	margin: auto 0.2em auto auto;
	transition: transform 0.5s;
}

h3.name{
	margin: auto 0.2em;
}

a.HS_category:hover{
	background-color: #FFFFFF;
	margin: 0;
}

div.hs-table{
	min-width: 500px;
	height: 100%;
	margin: 0 1em;
	padding: 0;
}

div.skill-grid-container{
	display: grid;
	grid-template-columns: 80px 160px 80px auto;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

div.hs-skill-title-skill{
	position: relative;
	height: 61px;
	padding: 5px;
	background-color: #929292;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

img.hs-skill-title-skill{
	position: absolute;
	left: 5px;
	top: 5px;
	height: 50px;
	width: 50px;
}

h2.hs-skill-title-skill{
	margin-left: 60px;
	margin-top: 9px;
}

div.hs-skill-title{
	padding: 0.2em 0.5em;
	background-color: #929292;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

div.hs-skill-field{
	background-color: #FFFFFF;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	min-height: 32px;
}

h3.hs-skill-field{
	margin: 0.2em 0.5em;
}

aside.HS_SearchAndCompare{
	width: 100%;
}

div.HS_Search{
	position: relative;
	padding: 0.5em;
	height: 12em;
	background-color: transparent;
	border-top: 1px solid black;
	transition: background-color 1s;
}

aside.HS_SearchAndCompare div:last-child{
	border-bottom: 1px solid black;
}

div.HS_Search:hover{
	background-color:rgba(198, 144, 14, 1);
}

h3.HS_SearchTitle{
	margin: 0 0 0.5em 0;
}

input.HS_SearchInput{
	margin: 0 0 0.5em 0;
	width: 100%;
}

div.HS_SearchCenter{
	display: flex;
	justify-content: center;
}

a.HS_Button{
	position: absolute;
	display: block;
	text-align: center;
	bottom: 0.4em;
	right: 0.4em;
	background-color: #929292;
	padding: 0.2em 0;
	border: none;
	width: 60%;
	border: 1px solid black;
	transition: width 0.5s, background-color 0.5s;
}

a.HS_Button:hover{
	background-color: #FFFFFF;
	width: 70%;
}


/**HIGHSCORES - COMPARE ******************************************************/

div.compare-grid-container{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

div.hs-compare-title-empty{
	border-bottom: 1px solid black;
}

div.hs-compare-title-player{
	height: 60px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
	background-color: #929292;
}

h2.hs-compare-title-player{
	margin-top: 13px;
}

div.hs-compare-title-skill{
	border: 1px solid black;
	border-top: none;
	border-right: none;
	padding: 0.2em 0.5em;
	background-color: #929292;
}

div.hs-compare-title{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0.2em 0.5em;
	background-color: #929292;
}

div.hs-compare-skill{
	display: flex;
	min-height: 32px;
	background-color: #FFFFFF;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

div.hs-compare-level{
	background-color: #FFFFFF;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

div.hs-compare-exp{
	background-color: #FFFFFF;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

h3.hs-compare-field{
	margin: 0.2em 0.5em;
}

img.hs-compare-skill{
	margin: auto 0 auto 0.5em;
	height: 25px;
	width: 25px;
}

.hs-compare-borderright{
	border-right: 1px solid black;
}


